@import '../variables.scss';

.header {
    width: 100%;
    margin: 0 auto;
    background-color: $primaryColor;
}

.header__container {
    display: flex;
    max-width: $maxPageWidth;
    margin: 0 auto;
    align-items: stretch;
    padding: 8px;

    .header__logo {
        flex-shrink: 0;
        width: 4rem;
    }

    .header__searcher {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
    }
}