$maxPageWidth: 1200px;
$primaryColor: #ffe600;
$secondaryColor: #333;
$tertiaryColor: #999;
$quaternaryColor: #eee;
$quinaryColor: #666;
$senaryColor: #3483fa;
$whiteColor: #fff;
$itemPictureSize: 180px;